{% extends 'index.html.twig' %}

{% block title %} {{'login.title'|trans }}{% endblock %}

{% block body %}
<style>
    body {
        background-color: #f7f7f7;
    }
</style>
<form method="post">
    <div class="row justify-content-center">
        <div class="col-lg-6 mt-lg-4 col-md-12 login-box">
            <h3 class="text-center" style="color: #393939;">{{ 'login.form.login'|trans }}</h3>
            <div class="mb-3">
                <label for="inputEmail"> {{ 'login.form.email'|trans }}</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="mb-3">
                <label for="inputPassword"> {{'login.form.password'|trans }}</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <div class="mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> {{ 'login.form.remember_me'|trans }}
                </label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
            <div class="text-center">
                <button class="btn" type="submit" style="background-color: #7E60BF; color: white;">
                    {{ 'login.form.login'|trans }}
                </button>
                <p class="mt-2">{{ 'login.form.forgot_password'|trans }}<a href="{{path('app_login')}}"> {{ 'login.form.click_here'|trans }}</a></p>
            </div>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        </div>
    </div>
</form>
{% endblock %}
