<!DOCTYPE html>

<title>WorkLog</title>

{% block body %}
    <h1>WorkLog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ work_log.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ work_log.date ? work_log.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Hour_start</th>
                <td>{{ work_log.hourStart ? work_log.hourStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HourEnd</th>
                <td>{{ work_log.hourEnd ? work_log.hourEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HoursNumber</th>
                <td>{{ work_log.hoursNumber }}</td>
            </tr>
            <tr>
                <th>OvertimeNumber</th>
                <td>{{ work_log.overtimeNumber }}</td>
            </tr>
            <tr>
                <th>IsDayOff</th>
                <td>{{ work_log.isDayOff ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>AbsenceSymbol</th>
                <td>{{ work_log.absenceSymbol }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_time_sheet_index') }}">back to list</a>

    <a href="{{ path('app_time_sheet_edit', {'id': work_log.id}) }}">edit</a>

    {{ include('time_sheet/_delete_form.html.twig') }}
{% endblock %}
