{% extends 'index.html.twig' %}

{% block title %}{{'department.actions.edit.name'|trans}}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<nav class="navbar navbar-light ">
				<div class="container-fluid">
					<div class="me-auto">
						<span></span>
					</div>
					<span class="navbar-brand mb-0 h1">
						<img src="{{ asset('images/logo2.png')}}" width="175px" height="75px">
					</span>
					<div class="ms-auto"></div>
				</div>
			</nav>
		</div>
	</div>
	{{ form_start(form) }}

	<div class="row">
		<div class="col-6">
			<div class="mb-3 ms-3 me-3">
				<label>{{'department.form.name'|trans}}</label>
				{{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.name) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>{{'department.form.manager'|trans}}</label>
				{{ form_widget(form.manager, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.manager) }}
			</div>
		</div>
		<div class="col-6">
			<div class="mb-3 ms-3 me-3">
				<label>{{'department.form.location'|trans}}</label>
				{{ form_widget(form.location, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.location) }}
			</div>
			<div class="mb-3 ms-3 me-3"></div>
		</div>


		<div class="text-center">
			<button type="submit" class="btn purple-strong">{{'common.actions.save'|trans}}</button>
		</div>
		{{ form_end(form) }}

	{% endblock %}
