{% extends 'index.html.twig' %}

{% block title %}{{ 'employee.actions.edit'|trans }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
			<nav class="navbar navbar-light ">
				<div class="container-fluid">
					<div class="me-auto">
						<a href="{{ path('app_employee_show', {'id': employee.id}) }}">
							<div class="tool">
								<div class="text-center">
									<i class="fa-solid fa-circle-user"></i>
								</div>
								<div class="text-center">{{ 'employee.actions.employee_details'|trans }}</div>
							</div>
						</a>
						<form method="post" action="{{ path('app_employee_delete', {'id': employee.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć tego pracownika?');">
							<input
							type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">

							<button type="submit" class="tool" style="border: none; background: transparent; cursor: pointer;">
								<div class="text-center">
									<i class="fa-solid fa-trash-can text-danger"></i>
								</div>
								<div class="text-center">{{ 'employee.actions.delete'|trans }}</div>
							</button>
						</form>
					</div>
				</div>
			</nav>
    </div>
</div>

{{ form_start(form) }}

<div class="row">
    <ul class="nav nav-tabs" id="hrmTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="personal-data-tab" data-bs-toggle="tab" data-bs-target="#personal-data" type="button" role="tab" aria-controls="personal-data" aria-selected="true">
                <i class="fa-solid fa-person"></i> {{ 'employee.form.personal_data_tab'|trans }}
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contract-data-tab" data-bs-toggle="tab" data-bs-target="#contract-data" type="button" role="tab" aria-controls="contract-data" aria-selected="false">
                <i class="fa-solid fa-handshake"></i> {{ 'employee.form.contract_data_tab'|trans }}
            </button>
        </li>
    </ul>

    <div class="tab-content p-3 border border-top-0" id="hrmTabsContent">
        <div class="tab-pane fade show active" id="personal-data" role="tabpanel" aria-labelledby="personal-data-tab">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label>{{ 'employee.form.first_name'|trans }}</label>
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="mb-3">
                        <label>{{ 'employee.form.last_name'|trans }}</label>
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                    <div class="mb-3">
                        <label>{{ 'employee.form.birthday_date'|trans }}</label>
                        {{ form_widget(form.birthdayDate, {'attr': {'class': 'form-control', 'type': 'date'}}) }}
                        {{ form_errors(form.birthdayDate) }}
                    </div>
                    <div class="mb-3">
                        <label>{{ 'employee.form.pesel'|trans }}</label>
                        {{ form_widget(form.pesel, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.pesel) }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label>{{ 'employee.form.phone_number'|trans }}</label>
                        {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.phoneNumber) }}
                    </div>
                    <div class="mb-3">
                        <label>{{ 'employee.form.address'|trans }}</label>
                        {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.address) }}
                    </div>
                    <div class="mb-3">
                        <label>{{ 'employee.form.gender'|trans }}</label>
                        {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.gender) }}
                    </div>
                    <div class="mb-3">
                        <label>{{ 'employee.form.status'|trans }}</label>
                        {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.status) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="contract-data" role="tabpanel" aria-labelledby="contract-data-tab">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label>{{ 'employee.form.position'|trans }}</label>
                        {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.position) }}
                    </div>
                    <div class="mb-3">
                        <label>{{ 'employee.form.department'|trans }}</label>
                        {{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.department) }}
                    </div>
                    <div class="mb-3">
                        <label>{{ 'employee.form.salary'|trans }}</label>
                        {{ form_widget(form.salary, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.salary) }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label>{{ 'employee.form.contract_type'|trans }}</label>
                        {{ form_widget(form.contractType, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.contractType) }}
                    </div>
                    <div class="mb-3">
                        <label>{{ 'employee.form.amount_of_working_time'|trans }}</label>
                        {{ form_widget(form.amountOfWorkingTime, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.amountOfWorkingTime) }}
                    </div>
                    <div class="mb-3">
                        <label>{{ 'employee.form.employment_date'|trans }}</label>
                        {{ form_widget(form.employmentDate, {'attr': {'class': 'form-control', 'type': 'date'}}) }}
                        {{ form_errors(form.employmentDate) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <button type="submit" class="btn purple-strong">{{ 'common.actions.save'|trans }}</button>
</div>

{{ form_end(form) }}
{% endblock %}
