{% extends 'index.html.twig' %}

{% block title %}{{ 'employee.actions.list'|trans}} {% endblock %}

{% block content %}
	 <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	 <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
		<div class="row"> <div class="col-12">
			<nav class="navbar navbar-light ">
				<div class="container-fluid">
					<div class="me-auto">
						<span></span>
					</div>

					<span class="navbar-brand mb-0 h1"></span>
					<div class="ms-auto">
						<a href="{{ path('app_employee_new')}} " type="button" class="btn purple-strong">{{ 'employee.actions.add'|trans }}</a>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<table id="main-table" class="table text-left">
		<thead>
			<tr>
				<th>{{ 'employee.name'|trans }}</th>
				<th>{{ 'employee.position'|trans }}</th>
				<th>Dzi{{ 'employee.department'|trans }}ał</th>
			</tr>
		</thead>
	</table>

	 <script>
	    $(document).ready(function () {
	        var table = $('#main-table').DataTable({
	            processing: true,
	            serverSide: true,
	            ajax: '{{ path("app_employee_list") }}',
	            columns: [
	                { data: 'name' },
	                { data: 'position' },
	                { data: 'department' },
	            ],
	            lengthChange: false,
	            info: false,
				language: datatableTranslations,
	            initComplete: function() {
	                $('.dataTables_filter input').attr('placeholder', '{{ 'employee.actions.search'|trans }}');
	            }
	        });
	
	        $('#main-table tbody').on('click', 'tr', function () {
	            var rowData = table.row(this).data(); 
	            if (rowData && rowData.showUrl) {
	                window.location.href = rowData.showUrl; 
	            }
	        });
	    });
	</script>
{% endblock %}
