{% extends 'index.html.twig' %}

{% block title %}{{ 'employee.actions.create'|trans({}, 'messages') }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<nav class="navbar navbar-light ">
				<div class="container-fluid">
					<div class="me-auto">
						<span></span>
					</div>
					<span class="navbar-brand mb-0 h1">
						<img src="{{ asset('images/logo2.png')}}" width="175px" height="75px">
					</span>
					<div class="ms-auto"></div>
				</div>
			</nav>
		</div>
	</div>
	{{ form_start(form) }}

	<div class="row">
		<div class="col-12">
			<div class="mb-3 ms-3 me-3">
				<span style="font-size: 23px;">{{ 'employee.form.personal_data'|trans({}, 'messages') }}</span>
				<hr class="p-0 mt-1">
			</div>
		</div>
		<div class="col-6">
			<div class="mb-3 ms-3 me-3">
				<label>{{ 'employee.form.first_name'|trans({}, 'messages') }}</label>
				{{ form_widget(form.firstName, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.firstName) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>{{ 'employee.form.last_name'|trans({}, 'messages') }}</label>
				{{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.lastName) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>{{ 'employee.form.birthday_date'|trans({}, 'messages') }}</label>
				{{ form_widget(form.birthdayDate, { 'attr': {'class': 'form-control', 'type': 'date', 'placeholder': 'dd-mm-yyyy'} }) }}
				{{ form_errors(form.birthdayDate) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>{{ 'employee.form.pesel'|trans({}, 'messages') }}</label>
				{{ form_widget(form.pesel, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.pesel) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>{{ 'employee.form.phone_number'|trans({}, 'messages') }}</label>
				{{ form_widget(form.phoneNumber, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.phoneNumber) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>{{ 'employee.form.address'|trans({}, 'messages') }}</label>
				{{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.address) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>{{ 'employee.form.gender'|trans({}, 'messages') }}</label>
				{{ form_widget(form.gender, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.gender) }}
			</div>
		</div>
		<div class="col-6">
			<div class="mb-3 ms-3 me-3">
				<label>{{ 'employee.form.position'|trans({}, 'messages') }}</label>
				{{ form_widget(form.position, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.position) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>{{ 'employee.placeholder.department'|trans({}, 'messages') }}</label>
				{{ form_widget(form.department, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.department) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>{{ 'employee.form.salary'|trans({}, 'messages') }} zł brutto</label>
				{{ form_widget(form.salary, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.salary) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>{{ 'employee.form.employment_date'|trans({}, 'messages') }}</label>
				{{ form_widget(form.employmentDate, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.employmentDate) }}
			</div>
		</div>
		<div class="col-12">
			<div class="mb-3 ms-3 me-3">
				<span style="font-size: 23px;">{{ 'employee.form.login_data'|trans({}, 'messages') }}</span>
				<hr class="p-0 mt-1">
			</div>
		</div>
		<div class="col-6">
			<div class="mb-3 ms-3 me-3">
				<label>{{ 'employee.form.email'|trans({}, 'messages') }}</label>
				{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.email) }}
			</div>
		</div>
	</div>

	<div class="text-center">
		<button type="submit" class="btn purple-strong">{{ 'common.actions.save'|trans({}, 'messages') }}</button>
	</div>
	{{ form_end(form) }}

{% endblock %}
