{% extends 'index.html.twig' %}

{% block title %}Dodaj pracownika
{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-12">
			<nav class="navbar navbar-light ">
				<div class="container-fluid">
					<div class="me-auto">
						<span></span>
					</div>
					<span class="navbar-brand mb-0 h1">
						<img src="{{ asset('images/logo2.png')}}" width="175px" height="75px">
					</span>
					<div class="ms-auto"></div>
				</div>
			</nav>
		</div>
	</div>
	{{ form_start(form) }}

	<div class="row">
		<div class="col-12">
			<div class="mb-3 ms-3 me-3">
				<span style="font-size: 23px;">Dane osobowe</span>
				<hr class="p-0 mt-1">
			</div>
		</div>
		<div class="col-6">
			<div class="mb-3 ms-3 me-3">
				<label>Imię</label>
				{{ form_widget(form.firstName, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.firstName) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>Nazwisko</label>
				{{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.lastName) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>Data urodzin</label>
				{{ form_widget(form.birthdayDate, { 'attr': {'class': 'form-control', 'type': 'date', 'placeholder': 'dd-mm-yyyy'} }) }}
				{{ form_errors(form.birthdayDate) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>PESEL</label>
				{{ form_widget(form.pesel, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.pesel) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>Numer telefonu</label>
				{{ form_widget(form.phoneNumber, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.phoneNumber) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>Adres</label>
				{{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.address) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>Płeć</label>
				{{ form_widget(form.gender, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.gender) }}
			</div>
		</div>
		<div class="col-6">
			<div class="mb-3 ms-3 me-3">
				<label>Stanowisko</label>
				{{ form_widget(form.position, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.position) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>Dział</label>
				{{ form_widget(form.department, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.department) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>Wynagrodzenie zł brutto</label>
				{{ form_widget(form.salary, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.salary) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>Data zatrudnienia</label>
				{{ form_widget(form.employmentDate, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.employmentDate) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>Aktywny</label>
				{{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.status) }}
			</div>
		</div>
		<div class="col-12">
			<div class="mb-3 ms-3 me-3">
				<span style="font-size: 23px;">Dane logowania</span>
				<hr class="p-0 mt-1">
			</div>
		</div>
		<div class="col-6">
			<div class="mb-3 ms-3 me-3">
				<label>E-mail wymagany do logowania</label>
				{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.email) }}
			</div>
		</div>
	</div>

	<div class="text-center">
		<button type="submit" class="btn purple-strong">Dodaj pracownika</button>
	</div>
	{{ form_end(form) }}

{% endblock %}
