{% extends 'index.html.twig' %}

{% block title %}Dodaj pracownika
{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-12">
			<nav class="navbar navbar-light ">
				<div class="container-fluid">
					<div class="me-auto">
						<span></span>
					</div>
					<span class="navbar-brand mb-0 h1">
						<img src="{{ asset('images/logo2.png')}}" width="175px" height="75px">
					</span>
					<div class="ms-auto"></div>
				</div>
			</nav>
		</div>
	</div>
	{{ form_start(form) }}

	<div class="row">
		<div class="col-12">
			<div class="mb-3 ms-3 me-3">
				<span style="font-size: 23px;">Dane do wniosku urlopowego</span>
				<hr class="p-0 mt-1">
			</div>
		</div>
		<div class="col-12">
			<div class="mb-3 ms-3 me-3">
				<label>Rodzaj wniosku</label>
				{{ form_widget(form.leaveType, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.leaveType) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>Od</label>
				{{ form_widget(form.dateFrom, { 'attr': {'class': 'form-control', 'type': 'date', 'placeholder': 'dd-mm-yyyy'} }) }}
				{{ form_errors(form.dateFrom) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>Do</label>
				{{ form_widget(form.dateTo, { 'attr': {'class': 'form-control', 'type': 'date', 'placeholder': 'dd-mm-yyyy'} }) }}
				{{ form_errors(form.dateTo) }}
			</div>
			<div class="mb-3 ms-3 me-3">
				<label>Dodatkowy komentarz</label>
				{{ form_widget(form.comment, { 'attr': {'class': 'form-control'} }) }}
				{{ form_errors(form.comment) }}
			</div>
		</div>
	</div>

	<div class="text-center">
		<button type="submit" class="btn purple-strong">Utwórz wniosek urlopowy</button>
	</div>
	 {{ form_row(form._token) }}
	 {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
