{% extends 'index.html.twig' %}

{% block title %}Strona g贸wna
{% endblock %}

{% block content %}
	 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<div class="row">
		<div class="col-xl-9 col-lg-12">
			<div class="row mb-2">
				<div class="col-12">
					<nav class="navbar navbar-light ">
						<div class="container-fluid">
							<div class="me-auto" style="font-size: 20px;">
									Witaj, <span class="text-bold">{{app.user.name}} </span>
							</div>
							<span class="navbar-brand mb-0 h1"></span>
							<div class="ms-auto">
								<btn class="btn purple-strong">Eksportuj dane</btn>
							</div>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-sm-12 d-flex align-items-center justify-content-center ">
					<div class="col-lg-10 col-sm-12 dashboard-statistics-box">
						<div class="ps-3 pe-3 pt-3 ">Wszystkich pracownik贸w</div>
						<div class="text-bold text-left ps-3 pe-3 mt-3">
							<h2>{{ numOfEmployees }}</h2>
						</div>
						<div class="dashboard-box-footer purple-strong align-text-bottom p-3 pt-4">{{ lastJoinedEmployees|length }} nowych pracownik贸w w cigu
																				ostatnich 30 dni</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12 d-flex align-items-center justify-content-center ">
					<div class="col-lg-10  col-sm-12 dashboard-statistics-box">
						<div class="ps-3 pe-3 pt-3 ">Liczba obecnych dzisiaj pracownik贸w</div>
						<div class="text-bold text-left ps-3 pe-3 mt-3">
							<h2>1 452</h2>
						</div>
						<div class="dashboard-box-footer purple-strong align-text-bottom p-3 pt-4">Duis tincidunt et mi quis
																				posuere.
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-12 d-flex align-items-center justify-content-center ">
					<div class="col-lg-10  col-sm-12 dashboard-statistics-box">
						<div class="ps-3 pe-3 pt-3 ">Nadchodzce wydarzenia</div>
						<div class="text-bold text-left ps-3 pe-3 mt-3">
							<h2></h2>
						</div>
						<div class="dashboard-box-footer purple-strong align-text-bottom p-3 pt-4">Duis tincidunt et mi quis
																				posuere.</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="mt-3 p-4 pe-2">
					<canvas id="departmentsChart"></canvas>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-12 mt-2">
			<h4>Ostatnio doczyli</h4>
			{% for lastJoinedEmployee in lastJoinedEmployees %}
				<div class="row mt-3 dashboard-employee">
					<div class="col-xl-4 d-flex align-items-center justify-content-center text-center">
						<i class="fa-regular fa-user" style="font-size: 45px;"></i>
					</div>
					<div class="col-xl-8 p-xl-0">
						<div class="text-end" style="font-size: 15px; color: gray;">{{
					lastJoinedEmployee.employmentDate|date('d.m.Y') }}</div>
						<div class="text-center" style="font-weight: bold;">{{ lastJoinedEmployee.firstName }}
							{{ lastJoinedEmployee.lastName }}</div>
						<div class="text-center" style="margin-top: -5px;">{{ lastJoinedEmployee.position }}</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	 <script>
			const labels = {{ departmentChartData.labels| json_encode | raw }};
			const data = {{ departmentChartData.employeeNumbers| json_encode | raw }};
		
			const ctx = document.getElementById('departmentsChart').getContext('2d');
			const departmentChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: labels,
					datasets: [{
						label: 'Liczba pracownik贸w',
						data: data,
						backgroundColor: [
							'rgba(75, 192, 192, 0.2)',
							'rgba(255, 159, 64, 0.2)',
							'rgba(153, 102, 255, 0.2)',
							'rgba(255, 99, 132, 0.2)',
							'rgba(71, 236, 38, 0.2)',
						],
						borderColor: [
							'rgba(75, 192, 192, 1)',
							'rgba(255, 159, 64, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 99, 132, 1)',
							'rgb(36, 239, 9)',
						],
						borderWidth: 1,
						maxBarThickness: 50
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true,
							ticks: { precision: 0 },
						}
		
					},
					plugins: {
						legend: {
							display: false,
						},
						title: {
							display: true,
							text: 'Liczba pracownik贸w w poszczeg贸lnych dziaach',
							position: 'top',
							font: {
								size: 17,
							}
						}
					}
		
				}
			});
		</script>

{% endblock %}
